streamlit==1.31.0
sentence-transformers==5.1.2
transformers==4.57.3
torch==2.9.1
spacy==3.7.5
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
faiss-cpu
PyPDF2
python-docx
pandas
pygments==2.19.2
rich==13.7.1
numpy
scikit-learn
matplotlib
altair
rouge-score



