streamlit==1.31.0
sentence-transformers
transformers
torch
spacy==3.7.5
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
faiss-cpu
PyPDF2
python-docx
pandas
pygments==2.19.2
rich==14.2.0
numpy
scikit-learn
matplotlib
altair
rouge-score


